HF_TOKEN=your_huggingface_token_here

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your_supabase_backend_key_here

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/google/callback

FRONTEND_URL=http://localhost:3000